/*
    s1000d_en.css
    19.06.2015 18:01:37
*/

/* Autocontent */

.idstatus .issno[data-issuenumber]:before      { content: "Issue: "; }
.idstatus .language[data-languageisocode]:before   { content: "Language: "; }
.idstatus .issdate[data-day]:before              { content: "Date: "; }

.avee:after, .age:after      { content: attr(data-modelIdentCode) "-" attr(data-systemDiffCode) "-" attr(data-systemCode) "-" attr(data-subSystemCode) attr(data-subSubSystemCode) "-" attr(data-assyCode) "-" attr(data-disassyCode) attr(data-disassyCodeVariant) "-" attr(data-infoCode) attr(data-infoCodeVariant) "-" attr(data-itemLocationCode); }
.pubcode:after               { content: attr(data-modelIdentCode) "-" attr(data-pmIssuer) "-" attr(data-pmNumber) "-" attr(data-pmVolume); }

.issno[data-issuenumber]:after      { content: attr(data-issuenumber) "-" attr(data-inwork); }
.language[data-languageisocode]:after   { content: attr(data-languageisocode) "-" attr(data-countryisocode); }
.issdate[data-day]:after              { content: attr(data-day) "-" attr(data-month) "-" attr(data-year) }

.firstver:after                { content: attr(data-verificationType); }
.skill[data-skillCode]:after  { content: attr(data-skillCode); }

.datarest:before        { content: "Data Restrictions:"; }
.distrib:before        { content: "Distribution"; }
.expcont:before           { content: "Export Control"; }
.handling:before            { content: "Handling"; }
.destruct:before         { content: "Destruction"; }
.disclose:before          { content: "Disclosure"; }
.copyright:before               { content: "Copyright"; }

.dmRefAddressItems .infoname:before { content: " - "; }
.identno:before                 { content: ""; }
.partAndSerialNumber:before         { content: "/"; }
.natoStockNumber:before             { content: "NSN "; }
.serialNumber:before                { content: "Serial no. " attr(data-serialNumberValue); }
.customerStockNumber:before         { content: "Stock no. "; }
.zone:before                     { content: "Zone " attr(data-zoneNumber); }
.accpnl:before,  
.accpnl[data-accessPointTypeValue="accpnl01"]:before  { content: "Door " attr(data-accessPointNumber); }
.accpnl[data-accessPointTypeValue="accpnl02"]:before  { content: "Panel " attr(data-accessPointNumber); }
.accpnl[data-accessPointTypeValue="accpnl03"]:before  { content: "Electrical panel " attr(data-accessPointNumber); }

.multimediaobject:before,
.graphic:before                         { content: "Fig " counter(figure) " "; }
.graphic[data-sheets]:after             { content: " (Sheet " counter(sheet) " of " attr(data-sheets) ")"; }
.multimediaobject[data-sheets]:after    { content: " (Media " counter(sheet) " of " attr(data-sheets) ")"; }
.xref.irtt01:before              { content: "Fig " attr(data-figure); }
.xref.irtt02:before              { content: "Table " attr(data-index); }
.xref.irtt03:before              { content: "Fig " attr(data-figure); }
.xref.irtt07:before              { content: "Para " attr(data-index); }
.xref.irtt08:before              { content: "Step " attr(data-index); }
.xref.irtt09:before              { content: "Fig " attr(data-figure) ", Sheet " attr(data-sheet); }
.xref.irtt10:before              { content: "Fig " attr(data-figure) ", " attr(data-multimediaType); }
.xref.irtt11:before              { content: "Fig " attr(data-figure) " [" attr(data-referredFragment) "]"; }

#app-figure-title.multimediaobject:before,
#app-figure-title.xref.irtt01:before,
#app-figure-title.xref.irtt03:before,
#app-figure-title.xref.irtt09:before,
#app-figure-title.xref.irtt10:before,
#app-figure-title.xref.irtt11:before,
#app-figure-title.xref.irtt12:before,
#app-figure-title.graphic:before { content: "Fig " attr(data-index) " "; }
#app-figure-title.graphic[data-subindexes]:after { content: " (Sheet " attr(data-subindex) " of " attr(data-subindexes) ")"; }
#app-figure-title.multimediaobject[data-subindexes]:after { content: " (Media " attr(data-subindex) " of " attr(data-subindexes) ")"; }
#app-figure-title.graphic[data-subindexes='']:after,
#app-figure-title.multimediaobject[data-subindexes='']:after { content: none; }

.personnel .numRequired[data-value]:before      { content: attr(data-value) " persons"; }
.personnel .numRequired[data-value='1']:before  { content: attr(data-value) " person"; }
.personnel .numRequired[data-value='0']:before,
.personnel .numRequired[data-value='']:before   { content: "As required"; }

.opndurn:before    { content: "Maintenance task duration"; }
.opndurn:after     { content: "Preliminary requirements " attr(data-startupDuration) " " attr(data-unitOfMeasure) "\000a" "Procedure " attr(data-procedureDuration) " " attr(data-unitOfMeasure) "\000a"  "Requirements after job completion " attr(data-closeupDuration) " " attr(data-unitOfMeasure); }

.externalPubCode:before         { content: attr(data-pubCodingScheme); }
.externalPubIssueInfo:before    { content: "Edition: "; }

/* Centerhead2 titles */

.mainfunc:before           { content: "Procedure"; }
.content > .descript:before  { content: "descript"; }
.schedule:before           { content: "Schedule"; }
.isolationMainProcedure:before  { content: "Fault isolation procedure"; }
.descacrw:before               { content: "Crew/operator content"; }
.commonRepository:before        { content: "Common information repository"; }
.faultReporting:before          { content: "Fault reporting"; }
.detect:before           { content: "Fault Detection"; }

.content > .refs:before         { content: "References"; }
.prelreqs:before        { content: "Preliminary requirements"; }
.closereqs:before              { content: "Requirements after job completion"; }

/* sidehead0 titles */

.cautionRepository:before                   { content: "Caution repository"; }
.toollist:before                      { content: "Tool repository"; }
.controlIndicatorRepository:before          { content: "Controls and indicators"; }
.functionalPhysicalAreaRepository:before    { content: "Functional and/or physical area repository"; }
.warningRepository:before                   { content: "Warning repository"; }
.zobelist:before                      { content: "Zone repository"; }
.partlist:before                      { content: "Part repository"; }
.einlist:before            { content: "Functional item repository"; }

/* Warning, Caution, Note */

.warning:before { content: "WARNING"; }
.caution:before { content: "CAUTION"; }
.note:before    { content: "Note"; }

/* Sidehead0 titles */

.pmd:before { content: "Production management data"; }
.reqconds:before        { content: "Required conditions"; }
.supequip:before    { content: "Support equipment"; }
.supplies:before         { content: "Consumables, materials and expendables"; }
.reqTechInfoGroup:before    { content: "Required technical information"; }
.spares:before           { content: "Spares"; }
.safety:before           { content: "Safety conditions"; }
.reqpers:before          { content: "Required persons"; }
.workAreaLocationGroup:before    { content: "Work area location"; }

/* None keyword */

.nosupeq:before,
.nosupply:before,
.nospares:before,
.nosafety:before,
.noconds:before             { content: "None."; }

/* Tables */

.table-contents > .title:before { content: "Table " counter(table) " "; }

.header > .name:before          { content: "Name"; }
.header > .ident:before         { content: "Identification/Reference"; }
.header > .qty:before           { content: "Quantity"; }
.header > .remark:before        { content: "Remark"; }

.header > .condition:before     { content: "Action/Condition"; }
.header > .publication:before   { content: "Data module/Technical publication"; }
.header > .title:before         { content: "Title"; }

.header > .person:before        { content: "Person"; }
.header > .category:before      { content: "Category"; }
.header > .skill:before         { content: "Skill level"; }
.header > .trade:before         { content: "Trade/Trade code"; }
.header > .time:before          { content: "Estimated time"; }

.dmodule:after                  { content: "End of data module"; }

.status .security[data-securityClassification]:before      { content: "Security class " attr(data-securityClassification); }
.status .security[data-securityClassification="01"]:before { content: "UNCLASSIFIED"; }
.status .security[data-securityClassification="02"]:before { content: "RESTRICTED"; }
.status .security[data-securityClassification="03"]:before { content: "CONFIDENTIAL"; }
.status .security[data-securityClassification="04"]:before { content: "SECRET"; }
.status .security[data-securityClassification="05"]:before { content: "TOP SECRET";}

.status .rpc:before { content: "Responsible partner company: " attr(data-enterpriseCode) " / "; }
.status .orig:before                { content: "orig: " attr(data-enterpriseCode) " / "; }

.applicCrossRefTableRef:before  { content: "ACT data module: "; }
.status > .applic:before      { content: "Applicability: "; }
.techstd:before            { content: "Technical standard:"; }
.brexref:before               { content: "BREX data module: "; }
.unverif:before              { content: "Unverified"; }
.firstver:before       { content: "First verification: "; }
.secver:before      { content: "Second verification: "; }
.sbc:before     { content: "System breakdown code: "; }
.rfu:before         { content: "Reason for update: "; }

.skill:before                              { content: "Skill level: "; }
.skill[data-skillCode="sk01"]:after   { content: "Basic"; }
.skill[data-skillCode="sk02"]:after   { content: "Intermediate"; }
.skill[data-skillCode="sk03"]:after   { content: "Advanced"; }

.csnref:before                                             { content: "CSN " attr(data-figureNumber)attr(data-figureNumberVariant) "-" attr(data-item)attr(data-itemVariant); }
.csnref[data-systemCode]:before                            { content: "CSN " attr(data-systemCode) "-" attr(data-subSystemCode)attr(data-subSubSystemCode) "-" attr(data-assyCode) "-" attr(data-figureNumber)attr(data-figureNumberVariant) "-" attr(data-item)attr(data-itemVariant); }
.csnref[data-itemSeqNumberValue]:before                    { content: "CSN/ISN " attr(data-figureNumber)attr(data-figureNumberVariant) "-" attr(data-item)attr(data-itemVariant) "/" attr(data-itemSeqNumberValue); }
.csnref[data-systemCode][data-itemSeqNumberValue]:before   { content: "CSN/ISN " attr(data-systemCode) "-" attr(data-subSystemCode)attr(data-subSubSystemCode) "-" attr(data-assyCode) "-" attr(data-figureNumber)attr(data-figureNumberVariant) "-" attr(data-item)attr(data-itemVariant) "/" attr(data-itemSeqNumberValue); }

.reqQuantity[data-unitOfMeasure]:after  { content: " " attr(data-unitOfMeasure); }
.materialSetRef:before                  { content: attr(data-materialSetIdent) " " attr(data-materialSetIssue); }

.natoStockNumber
    [data-natoSupplyClass]
    [data-natoCodificationBureau]
    [data-natoItemIdentNumberCore]:after    { content: attr(data-natoSupplyClass) "-" attr(data-natoCodificationBureau) "-" attr(data-natoItemIdentNumberCore) }

